.qing-dialog-open {
  overflow: hidden;
}

.qing-dialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;

  &.modal {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.55);
    transition: opacity .2s;
  }

  &.modal.in {
    opacity: 1;
  }

  &.open .wrapper {
    transform: translate(0, 0);
    opacity: 1;
  }

  &.fullscreen .wrapper {
    position: absolute;
    top: 0;
    right: 40px;
    bottom: 40px;
    left: 40px;
    width: auto;
  }

  .wrapper {
    position: relative;
    width: 600px;
    min-height: 1em;
    margin: 0 auto;
    border: 1px solid #dfdfdf;
    border-radius: 0 0 2px 2px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    transform: translate(0, -30%);
    transition: transform .2s, opacity .2s, width .2s;
    opacity: 0;
  }

  .close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    text-decoration: none;
    color: #9b9b9b;

    &:hover {
      color: darken($color: #9b9b9b, $amount: 20%);
    }
  }
}
